@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1B98F5;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.heading {
    margin-top: 2%;
}
.heading h1 {
    font-size: 3rem;
    color: #fff;
}
.form {
    width: 50%;
}
input, button {
    margin-top: 2%;
    width: 100%;
    font-size: 2rem;
    padding:5px 10px;
    border: none;
    border-radius: 0px;
}
button {
    background-color: #4DD637;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.output {
    width: 50%;
}
.todoCard {
    margin-top: 2%;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 0px;
    background-color: #fff;
    animation: SlideIn 0.5s ease-in;
}
.bi-trash {
    color: red;
    cursor: pointer;
}
@media (max-width: 768px) {
    .form {
        width: 100%;
    }
    .output {
        width: 100%;
    }
}

@keyframes SlideIn {
    0% {
        transform: translateX(-500px);
    }
    30% {
        transform: translateX(0px);
    }   
    50% {
        transform: translateX(30px);
    }
    100% {}
}